/*style navBAR*/
.listenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: indianred;
}

.ctnav a {
    float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #333;
}

.active {
    background-color: #333;
}

/*footerstyle*/
.footerpage{
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	background-color: grey;
}

/*table ao am dashboard*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*icone style*/
.icone{
    color: white;
    font-size:50px;
}